@import "../base/colores", "./base/tipografia";

/*Header*/

header {
    padding: 0;
    text-align: center;
    background-color: transparent;

    .fondoEncabezado {
        background-color: $color-encabezado;
        display: block;

        .fotoEncabezado {
            width: 30%;
            margin: -10%;
        }
    }
}