@import "../base/colores", "../base/tipografia";

section#cardCursos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    gap: 5rem;
    margin: 5rem;
    
    .espaciocard {
        width: 30rem;
        height: 100%;
        background-color: $color-fondotarjetas;

        .btn {
            display: block;
            height: 4rem;
            align-content: center;
            font-size: 2rem;
        }
    }
}