@import "../base/colores", "../base/tipografia";

// Efecto Parallax
.parallax,
.main,
.texto {
    margin: 0 auto
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;
}

.img-uno {
    background-image: url("../Img/docentess.jpg");
} 
.img-dos {
    background-image: url("../Img/MATERIALES.jpg")
}

.img-tres {
    background-image: url("../Img/videollamadas.jpg")
}

.texto-interior {
    color: $color-encabezado;
    font-size: 2rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%;

    #m {
        color: black;
    }
}


.texto {
    padding: 5%;
    width: 90%;

    .h3Inicio {
        text-align: center;
    }
}